@using JourneyJoy.UI.Areas.Member.Models
@model List<ReservationResultModel>
@{
    ViewData["Title"] = "MyApprovedReservations";
    Layout = "~/Areas/Member/Views/Layout/MemberLayout.cshtml";
}

<h1>My Approved Reservations</h1>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Current Reservations</h4>
                <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                        <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                        <li><a data-action="close"><i class="ft-x"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="card-content collapse show">
                <div class="card-body">
                    <p class="card-text">You can access your Approval reservation list on our website Traversal below. </p>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Location</th>
                                    <th>Person Count</th>
                                    <th>Reservation Date</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.ResultReservationDto.Id</td>
                                        <td>
                                            @item.DestinationCity
                                        </td>

                                        <td>@item.ResultReservationDto.PersonCount</td>
                                        <td>@item.ResultReservationDto.ReservationDate</td>
                                        <td>@item.ResultReservationDto.Status</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>